html{
    background: url(http://diageocol.vteximg.com.br/arquivos/background_img_age_validator_opt.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.flex-container {
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    max-width: 600px;
    height: 100%;
    align-items: center;
    font: 14px Arial;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.7);
}
.logo{
    background-image: url(http://diageocol.vteximg.com.br/arquivos/logoBlack.png);
    width: 323px;
    height: 63px;
    display: block;
    margin-top: 70px;
    margin-bottom: 140px;
    background-repeat: no-repeat;
}
.pregunta{
    height: 28px;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
.copy{
    height: 25px;
    color: #707070;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 25px;
}
.flex-btn{
    /* flexbox setup */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
     align-items: center;
  justify-content: center;
}
.btn{
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 60px;
    height: 43px;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-no{
    color: #000000;
    background-color: #ffffff;
    margin-right: 10px;
}
.btn-si{
    color:  #ffffff;
    background-color:#000000;
}