.imageElement--image-destacadoImg{
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.imageElement--img-subBanner{
    width: 100%;
}
.imageElement--sliderbrands{
    background-color: white;
}
.searchBarIcon--external-search{
    background-color: #ff5e00ff;
    color:  #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;

}
.newsletter{
    background-color: #000000;
    color: #FFFFFF;
    border-bottom: 3px solid white;
}
.autoCompleteOuterContainer{
    border: none;
}

/*** PDP ***/
.productBrand{
    color: #000000;
    font-family: Raleway;
    font-size: 18px; 
    font-weight: 700;
   
}
.content{
    color: #000000;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}
