.buttonContainer--vtex-button {
    color: #000000;
    background-color: #FFFFFF; 
} 
:global(.vtex-product-summary-2-x-element)
  :global(.vtex-button){
    color: #c5c5c5;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    max-width: 151px;
    width: 100%;
    height: 45px;
    border-radius: 21px;
    background-color: #ff5e00; 
    margin: 0 auto; 
  }  

:global(.vtex-flex-layout-0-x-flexRowContent--wrapper-layout-btns)
  :global(.vtex-button){
    max-width: 280px;
    width: 100%;
    height: 48px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--wrapper-layout-btns)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
   text-align:left;
}

:global(.vtex-minicart-2-x-minicartCheckoutButton)
  :global(.vtex-button)
  :global(.vtex-button__label){
   font-size: 0px;
}
:global(.vtex-minicart-2-x-minicartCheckoutButton)
  :global(.vtex-button)
  :global(.vtex-button__label)::before{
    content: 'Finalizar compra';
    color: #ffffff;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

.b--action-primary {
    border-color: #ff5e00;
}

