.listPrice,  .vtex-product-price-1-x-listPrice{
    color: #cfcfcf; 
    font-family: Raleway; 
    font-size: 17px;
    font-weight: 500;
    /* Text style for "$00.000" */
    text-decoration: line-through; 
    display:inline-block;
}
.listPriceValue{
    color: #cfcfcf; 
    font-family: Raleway;
    font-size: 17px;
    font-weight: 500;
    /* Text style for "$00.000" */
    text-decoration: line-through; 
    display:inline-block;
}
.sellingPrice--summary--hasListPrice, .vtex-product-price-1-x-sellingPrice, .savingsValue, .sellingPriceValue{
    color: #171717;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    display:inline-block;
}
.listPriceValue--precio-anterior-pdp{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}
.sellingPriceValue--precio-actual-pdp{
    font-family: Raleway;
    color:#171717;
    font-size: 20px;
    font-weight: 500;
   
}