.flexRowContent--pre-header{
    background-color: white;
}
.flexRowContent--barHeader{
  background-color: #0A0A0A;  
  display: flex;
   align-items: center; 
}
.flexRow--main-header-mobile{
  background-color: #000000;
}
.flexRowContent--footer{
  background-color: #000;
  padding: 36px 40px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.flexRowContent--footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  margin: 0 2.5%;
  max-width: 216px;
}

.flexCol--search-barMobile{
  background-color: #ffffff;
}

.flexRowContent--box-tabs, .flexRowContent--rt-destacados{
  flex-direction: column;
  text-align: center;
}

/*** pdp ***/
.flexRow--product-name{
  color: #000000;
}
.flexRowContent--precio-pdp{
  justify-content: flex-start

}

.flexRowContent--product-recomendaciones{
  flex-direction: column;
  margin-bottom: 40px;
}



