.imageElement--image-destacadoImg{
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.imageElement--img-subBanner{
    width: 100%;
}
.imageElement--sliderbrands{
    background-color: white;
}
.searchBarIcon--external-search{
    background-color: #ff5e00ff;
    color:  #FFFFFF;
}

.autoCompleteOuterContainer--vtex-input-prefix__group, .vtex-input-prefix__group{ /*intendado darle borders redondeados al search box*/
    border-radius: 8px;
}

.newsletter{
    background-color: #000000;
    color: #FFFFFF;
}
.buttonContainer .vtex-button, .buttonContainer--vtex-button, .bg-action-primary {
    color: #000000;
    background-color: #FFFFFF;
}