.flexRowContent--pre-header{
    background-color: white;
}
.flexRowContent--barHeader{
  background-color: #0A0A0A;  
  display: flex;
   align-items: center; 
}
.flexRow--main-header-mobile{
  background-color: #000000;
}
.flexRowContent--footer{
  background-color: #000;
}
.flexCol--search-barMobile{
  background-color: #ffffff;
}

.flexRowContent--box-tabs,.flexRowContent--rt-destacados{
  flex-direction: column;
  text-align: center;
}
