
.container--text-envio{
   height: 24px;
}
.paragraph--text-envio{
    color: #707070;
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.paragraph--rich-text-1-empty-state{
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}
.paragraph--text-destacados{
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin:0;
}
.paragraph--text-subtitle{
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin:0;
}
.container--title-link{
    color: #ffffff;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}