.element{
    padding: 0px 5px;
}
.brandName{
    color: #171717; 
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400; 
    overflow: hidden;
    display: block;
    text-transform: lowercase;
} 
.brandName::first-letter {
    text-transform: uppercase; 
}
.nameContainer{
    display: block;
}
/*todos los detalles de product name excepto pdp*/
.productBrand{ 
    color:green; 
}