.flexRowContent--pre-header{
    background-color: white;
}
.flexRowContent--barHeader{
  background-color: black;  
  display: flex;
   align-items: center; 
}
.flexRow--main-header-mobile{
  background-color: #000000;
}
.flexRowContent--footer{
  background-color: #000;
}
.flexCol--search-barMobile{
  background-color: #ffffff;
}


